In [1]:
import pandas as pd

In [2]:
integ_res = pd.read_csv("results_bk/dcase_val_neighbors_topK.csv")
integ_res.head()

,query_segment_id,query_labels,candidate_segment_id,candidate_video_id,similarity,rank,candidate_label_indices,candidate_label_names,source_split
0,Sb0169-lqLs_0,Dog,Zy2LsyinGcY_10000,Zy2LsyinGcY,0.831333,1,72|73|74|75|77|122,"Animal|Domestic animals, pets|Dog|Bark|Howl|Ca...",bal_train
1,Sb0169-lqLs_0,Dog,3rn-tCQafl8_30000,3rn-tCQafl8,0.803333,2,72|73|74|76|78|80,"Animal|Domestic animals, pets|Dog|Yip|Bow-wow|...",bal_train
2,Sb0169-lqLs_0,Dog,YMOX56rEX6Q_20000,YMOX56rEX6Q,0.795604,3,72|73|74|77,"Animal|Domestic animals, pets|Dog|Howl",bal_train
3,Sb0169-lqLs_0,Dog,gwDxPQDf1Is_20000,gwDxPQDf1Is,0.794259,4,72|73|74|77|122,"Animal|Domestic animals, pets|Dog|Howl|Canidae...",bal_train
4,Sb0169-lqLs_0,Dog,jizEBHaiSzg_40000,jizEBHaiSzg,0.786421,5,72|73|74|77|80,"Animal|Domestic animals, pets|Dog|Howl|Whimper...",bal_train

In [3]:
integ_res.shape

(84500, 9)

In [4]:
integ_res2 = pd.read_csv("results_bk_150/dcase_val_neighbors_topK150_min06_eval_bal_train_unbal.csv")
integ_res2.head()

,query_segment_id,query_labels,candidate_segment_id,candidate_video_id,similarity,rank,candidate_label_indices,candidate_label_names,source_split
0,--4gqARaEJE_0,Dog,0Am_PbPUkuk_30000,0Am_PbPUkuk,0.753367,1,72|73|74|76|80,"Animal|Domestic animals, pets|Dog|Yip|Whimper ...",unbal_train
1,--4gqARaEJE_0,Dog,QmRDGNMCykQ_10000,QmRDGNMCykQ,0.670959,2,72|73|74,"Animal|Domestic animals, pets|Dog",unbal_train
2,--4gqARaEJE_0,Dog,BXqvC5MW71U_30000,BXqvC5MW71U,0.658745,3,72|73|74,"Animal|Domestic animals, pets|Dog",unbal_train
3,--4gqARaEJE_0,Dog,Ajxu-9dghvI_30000,Ajxu-9dghvI,0.643578,4,72|73|74|78|80|137,"Animal|Domestic animals, pets|Dog|Bow-wow|Whim...",unbal_train
4,--4gqARaEJE_0,Dog,5JdJ20q11zg_10000,5JdJ20q11zg,0.634929,5,72|73|74,"Animal|Domestic animals, pets|Dog",unbal_train

In [5]:
integ_res2.shape

(121189, 9)

In [6]:
len(set(integ_res['query_segment_id'])), len(set(integ_res2['query_segment_id'])),

(845, 1106)

In [8]:
len(set(integ_res['query_segment_id']).intersection(set(integ_res2['query_segment_id'])))

826

In [9]:
# candidate_video_id
len(set(integ_res['candidate_video_id'])), len(set(integ_res2['candidate_video_id'])),

(11455, 60736)

In [10]:
len(set(integ_res['candidate_video_id']).intersection(set(integ_res2['candidate_video_id'])))

0

In [11]:
integ_res2.groupby("source_split")['candidate_video_id'].nunique()

source_split
unbal_train    60736
Name: candidate_video_id, dtype: int64

In [12]:
integ_res.groupby("source_split")['candidate_video_id'].nunique()

source_split
bal_train    11455
Name: candidate_video_id, dtype: int64

In [13]:
seg_res = pd.read_csv("results2/dcase_val_window_neighbors_topK300_min055_full_merged.csv")
seg_res.head()

,query_id,query_segment_id,query_label,candidate_segment_id,candidate_video_id,candidate_start_second,similarity,rank,candidate_label_indices,candidate_label_names,source_split
0,00pbt6aJV8Y_350000:Vacuum_cleaner:0.000-9.971:...,00pbt6aJV8Y_350000,Vacuum_cleaner,NcGd4fjy5KM_40000,NcGd4fjy5KM,2,0.886012,1,377,Vacuum cleaner,unbal_train
1,00pbt6aJV8Y_350000:Vacuum_cleaner:0.000-9.971:...,00pbt6aJV8Y_350000,Vacuum_cleaner,E5Re9mEEqXM_30000,E5Re9mEEqXM,3,0.885599,2,377,Vacuum cleaner,bal_train
2,00pbt6aJV8Y_350000:Vacuum_cleaner:0.000-9.971:...,00pbt6aJV8Y_350000,Vacuum_cleaner,eB0kQ_zYdHc_180000,eB0kQ_zYdHc,5,0.872413,3,377|423|476,Vacuum cleaner|Sanding|Rub,eval
3,00pbt6aJV8Y_350000:Vacuum_cleaner:0.000-9.971:...,00pbt6aJV8Y_350000,Vacuum_cleaner,My0YmR6tYAk_60000,My0YmR6tYAk,2,0.871855,4,377,Vacuum cleaner,eval
4,00pbt6aJV8Y_350000:Vacuum_cleaner:0.000-9.971:...,00pbt6aJV8Y_350000,Vacuum_cleaner,6-2SCYUDBZw_30000,6-2SCYUDBZw,3,0.869707,5,377,Vacuum cleaner,unbal_train

In [15]:
seg_res.shape

(842225, 11)

In [17]:
seg_res.groupby("source_split")['candidate_video_id'].nunique()

source_split
bal_train        1949
eval             1820
unbal_train    185544
Name: candidate_video_id, dtype: int64

In [18]:
seg_res.groupby("query_label", as_index=False)['candidate_video_id'].nunique()

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

                  query_label  candidate_video_id
0          Alarm_bell_ringing                1301
1                     Blender                 824
2                         Cat                2329
3                      Dishes                1401
4                         Dog                9517
5  Electric_shaver_toothbrush                 773
6                      Frying                1353
7               Running_water                2225
8                      Speech              172894
9              Vacuum_cleaner                1646

In [20]:
integ_res.groupby("query_labels", as_index=False)['candidate_video_id'].nunique()

                                         query_labels  candidate_video_id
0                                  Alarm_bell_ringing                 436
1                              Alarm_bell_ringing|Cat                 100
2                       Alarm_bell_ringing|Cat|Speech                 100
3                           Alarm_bell_ringing|Dishes                 100
4                              Alarm_bell_ringing|Dog                 262
5                       Alarm_bell_ringing|Dog|Speech                 197
6   Alarm_bell_ringing|Electric_shaver_toothbrush|...                 100
7                    Alarm_bell_ringing|Running_water                 170
8             Alarm_bell_ringing|Running_water|Speech                 200
9                           Alarm_bell_ringing|Speech                3311
10                                            Blender                 116
11                                     Blender|Dishes                 130
12                              Blender|Dishes|Frying                 100
13                Blender|Dishes|Running_water|Speech                 100
14                              Blender|Dishes|Speech                 518
15                                     Blender|Speech                1319
16                      Blender|Speech|Vacuum_cleaner                 100
17                                                Cat                 229
18                                         Cat|Dishes                 187
19                                            Cat|Dog                 233
20                                     Cat|Dog|Speech                 100
21                                  Cat|Running_water                 100
22                                         Cat|Speech                1693
23                                             Dishes                 119
24                    Dishes|Dog|Running_water|Speech                 100
25                                      Dishes|Frying                 172
26                               Dishes|Frying|Speech                 551
27                               Dishes|Running_water                 196
28                        Dishes|Running_water|Speech                 198
29                                      Dishes|Speech                1223
30                                                Dog                 487
31                                  Dog|Running_water                 100
32                                         Dog|Speech                2438
33                                 Dog|Vacuum_cleaner                 150
34                         Electric_shaver_toothbrush                 194
35                  Electric_shaver_toothbrush|Speech                1022
36                                             Frying                 106
37                                      Frying|Speech                 555
38                                      Running_water                 161
39                               Running_water|Speech                2167
40                                             Speech                6551
41                              Speech|Vacuum_cleaner                 711
42                                     Vacuum_cleaner                 118

In [21]:
len(set(seg_res['candidate_video_id'])), len(set(integ_res2['candidate_video_id'])),

(189313, 60736)

In [22]:
len(set(seg_res['candidate_video_id']).intersection(set(integ_res2['candidate_video_id'])))

41185

In [23]:
candidates_ids = set(seg_res['candidate_video_id']).intersection(set(integ_res2['candidate_video_id']))

In [25]:
seg_res[seg_res["candidate_video_id"].isin(candidates_ids)].groupby("query_label", as_index=False)['candidate_video_id'].nunique()

                  query_label  candidate_video_id
0          Alarm_bell_ringing                 664
1                     Blender                 515
2                         Cat                1598
3                      Dishes                 764
4                         Dog                5467
5  Electric_shaver_toothbrush                 456
6                      Frying                 947
7               Running_water                1606
8                      Speech               31185
9              Vacuum_cleaner                1254

In [30]:
seg_res[(seg_res['query_label'] == "Blender") \
& (seg_res['similarity'] > 0.8)
].sort_values(by='similarity', ascending=False)

,query_id,query_segment_id,query_label,candidate_segment_id,candidate_video_id,candidate_start_second,similarity,rank,candidate_label_indices,candidate_label_names,source_split
87980,7sH5r4U1Nc0_590000:Blender:0.000-10.000:long:1,7sH5r4U1Nc0_590000,Blender,RZP_Bf9x6Rs_110000,RZP_Bf9x6Rs,7,0.926465,1,369,Blender,unbal_train
781742,8KCzQ2KaSyE_520000:Blender:0.000-7.459:long:1,8KCzQ2KaSyE_520000,Blender,7sH5r4U1Nc0_590000,7sH5r4U1Nc0,0,0.925246,1,369,Blender,unbal_train
87981,7sH5r4U1Nc0_590000:Blender:0.000-10.000:long:1,7sH5r4U1Nc0_590000,Blender,gawqwXq-4Uw_200000,gawqwXq-4Uw,6,0.909826,2,369,Blender,unbal_train
87982,7sH5r4U1Nc0_590000:Blender:0.000-10.000:long:1,7sH5r4U1Nc0_590000,Blender,exlEZfP-YGM_160000,exlEZfP-YGM,5,0.902763,3,369,Blender,unbal_train
87680,7sH5r4U1Nc0_590000:Blender:0.000-10.000:long:0,7sH5r4U1Nc0_590000,Blender,TPE7n5_tsoY_220000,TPE7n5_tsoY,0,0.898595,1,369,Blender,unbal_train
...,...,...,...,...,...,...,...,...,...,...,...
781761,8KCzQ2KaSyE_520000:Blender:0.000-7.459:long:1,8KCzQ2KaSyE_520000,Blender,h4Q6yJGEu6E_0,h4Q6yJGEu6E,8,0.801467,20,369,Blender,unbal_train
87732,7sH5r4U1Nc0_590000:Blender:0.000-10.000:long:0,7sH5r4U1Nc0_590000,Blender,ZWHi6ZmEbo4_50000,ZWHi6ZmEbo4,3,0.801393,53,369,Blender,unbal_train
37605,2xYCc2ZQF4E_170000:Blender:0.000-10.000:long:1,2xYCc2ZQF4E_170000,Blender,ixqMVC7qjcQ_30000,ixqMVC7qjcQ,5,0.801292,1,369,Blender,unbal_train
87733,7sH5r4U1Nc0_590000:Blender:0.000-10.000:long:0,7sH5r4U1Nc0_590000,Blender,gI6XxRTDJck_190000,gI6XxRTDJck,2,0.800480,54,369,Blender,unbal_train
775336,ZyJMdv7sXnU_550000:Blender:0.000-4.064:long:1,ZyJMdv7sXnU_550000,Blender,h4Q6yJGEu6E_0,h4Q6yJGEu6E,8,0.800195,13,369,Blender,unbal_train